<% if (post.link) { %>
	<a href="<%- url_for(post.link) %>" target="_blank" class="post_item_pic">
        <img src="<%- post.banner %>" class="article-banner" alt="title">
    </a>
<% } else if (post.title) { %>
	<% if (index) { %>
		<a href="<%- url_for(post.path) %>" class="post_item_pic">
            <img src="<%- post.banner %>" class="article-banner" alt="title">
        </a>
	<% } else { %>
		<img src="<%- post.banner %>" class="article-banner" alt="title">
	<% } %>
<% } %>