<div class="main_content main_article">
<article class="post_item post_item_column">
    <div class="post_item_info">
        <% if(post.link){ %>
            <% if(index && post.excerpt) { %>
                <div class="post_item_title">
                    <a href="<%- url_for(post.link) %>" target="_blank"><%= post.title %></a>    
                </div>
                <%- partial("post/gallery") %>
                <div class="post_item_summary"><%- post.excerpt %></div>
                <% if(page.layout != 'page' ) { %>
                    <div class="post_item_footer">
                        <%- partial('post/date', { class_name: 'article-date', date_format: null }) %>
                        <a href="<%- url_for(post.path) %>" class="showall">查看全文</a>
                    </div>
                <% } %>
            <% } else { %>
                <%- post.content %>
            <% } %>
            
        <% } else if(post.title) { %>
            
            <% if(index && post.excerpt) { %>
                <div class="post_item_title">
                    <a href="<%- url_for(post.path) %>"><%= post.title %></a>    
                </div>
                <%- partial("post/gallery") %>
                <div class="post_item_summary"><%- post.excerpt %></div>
                <% if(page.layout != 'page' ) { %>
                    <div class="post_item_footer">
                        <%- partial('post/date', { class_name: 'article-date', date_format: null }) %>
                        <a href="<%- url_for(post.path) %>" class="showall">查看全文</a>
                    </div>
                <% } %>
            <% } else { %>
                <div class="post_item_article">
                    <div class="post_item_title"><%= post.title %></div>
                    <%- partial('post/date', { class_name: 'article-date', date_format: null }) %>
                    <%- partial("post/gallery") %>
                    <%- post.content %>
                </div>
            <% } %>
        <% } else { %>
            <div class="post_item_article">
                <%- post.content %>
            </div>    
        <% } %>
    </div>
</article>
<% if (!index) { %>
        <%- partial('comment/index') %>
    <% } %>
</div>

