<article class="post_item post_item_column">
    <div class="post_item_info">
        <% if(post.link){ %>
            <a href="<%- url_for(post.link) %>" target="_blank">
                <span class="post_item_title"><%= post.title %></span>
                <%- partial("post/gallery") %>
                <% if(index && post.excerpt) { %>
                    <span class="post_item_summary"><%- post.excerpt %></span>
                <% } else { %>
                    <%- post.content %>
                <% } %>
            </a>
        <% } else if(post.title) { %>
            <% if (index) { %>
                <a href="<%- url_for(post.path) %>">
                    <span class="post_item_title"><%= post.title %></span>
                    <%- partial("post/gallery") %>
                    <% if(post.excerpt) { %>
                        <span class="post_item_summary"><%- post.excerpt %></span>
                    <% } else { %>
                        <%- post.content %>
                    <% } %>
                </a>
            <% } else { %>
                <span class="post_item_title"><%= post.title %></span>
                <%- partial("post/gallery") %>
                <% if(post.excerpt) { %>
                    <span class="post_item_summary"><%- post.excerpt %></span>
                <% } else { %>
                    <%- post.content %>
                <% } %>
            <% } %>
        <% } %>
    </div>
    <div class="post_item_footer">
        <span class="left_date">2017-03-08</span>
        <span class="right_tags">
            <span>javascript</span>
            <span>vue</span>
        </span>
    </div>
</article>
<% if (!index) { %>
    <%- partial('comment/index') %>
<% } %>